extends layout

block content
  h1= title
  p Get All Students : /student/
  p Add Student : /student/add

  p Get All Mentors : /mentor/

  p Add Mentor : /mentor/add

  p Assigned Students for a particular Mentor: /mentor/:id

  p Select Mentor and assign multiple students : /assign/students

  p Select a student and assign/update mentor : /assign/mentor